.Pitanje{
  text-align: center;
  width: 500px;
  display: unset;
  color: #2096cc;
}

h4{
  font-size: 15px !important;
  font-weight: normal;
}

.NewButtons{
  text-align: right;
}

.slika {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
  margin-top: -30px;
  margin-left: -20px;
}

.site-content{
  visibility: hidden;
}

.Kategorije {
  margin-top: 40px;
}

.PodNaslov{
  font-size: 15px !important;
}

.Naslov{
  font-size: 10px !important;
}

html {
  margin: 0px;
  min-height: 150%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 150%;
  width: 100%;
  background: #2b96cc;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.dugme{
  text-align:center;
}

.TextMnu{  
  font-weight: bold;
  margin-top: 40px;  
  text-align: left;
}

#GlavniMeni{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
  height: auto;
  width: auto;
}

#GlavniMeniS{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: justify;
  padding: 0px;
  width: 35%;
}

#GlavniMeni2{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni3{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni4{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni5{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}


#GlavniMeni{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeniS{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: justify;
  padding: 0px;
}

#GlavniMeni2S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni3S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni4S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni5S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni6S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni7S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni8S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni9S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni10S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni11S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni12S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

.flex-center {
    display:flex;
    align-items:center;
}



.DD:hover {
  color: #2096cc;
}

/* Mobile */
@media (min-width: 0) and (max-width: 768px) { 

  .sm-flex-center {
    display:flex;
    align-items:center;
    text-align: center;
}
}
  
/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) { 

  .md-flex-center {
    display:flex;
    align-items:center;
    height: 100%;
    text-align: center;
}
}
  
/* Desktop */
@media (min-width: 3024px) { 

  .lg-flex-center {
    display:flex;
    align-items:center;
    height: 100%;
    text-align: center;
}
}

.MainMenu{
  border-radius: 10px;
  height: auto;
  text-align: center;
}

.NewColor{
  background: #f2f2f2;
}

.manjaSlova{
  font-size: 10px;
}

.btn :hover{
    background: transparent !important;
    color: #2096cc !important;
    width: auto;
}

.hideplease {
  background-image: url("./YesButton.svg");
}

.btn2 :hover{
  content: url("./HoverButton.svg");
  height: 40px;
}

.hideplease1 {
  background-image: url("./NoButton.svg");
}

.btn3 :hover{
  content: url("./NoButtonHover.svg");
  height: 40px;
}

.btn4 :hover{
  content: url("./RefreshHover.svg");
  height: 40px;
}

.exit{
  float: right;
  margin-right: -10px;
  color: #2096cc;
}

.vrata {
  background-color: #2096cc;
}

.btnMenu :hover{
  content: url("./MenuHover.svg");
  height: 40px;
}

.btnBack :hover {
  content: url("./BackBtnHover.svg");
  height: 40px;
}

.KrajQuiza{
  font-weight: bold;
  font-size: 15px !important;
}

.Boldirat{
  font-size: 10px;
}

.SmallerSize{
  font-size: 9px;
  text-align: left;
  color: #2096cc;
}

.SmallerSize1{
  font-size: 9px;
  text-align: center;
  color: #2096cc;
}

.NewColorQUiz{
  background: #f2f2f2;
  height: auto;
  border-radius: 10px;
}

.dropbtn {  
  color: #2096cc;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {display: block;}

.middle1 {
  margin-top: 10px;
  margin-left: -30px;
}


.flex{
  display: flex; /* to make it a flex-box */ 
  flex-direction: column; /* stacks vertically instead of horizontally */ 
  justify-content: space-around;
}

.hidden {
  display: flex; /* to make it a flex-box */ 
  flex-direction: column; /* stacks vertically instead of horizontally */ 
  justify-content: space-around;
}

.btnS {
  font-size: 10px;
  flex-wrap: column;  
  font-size: 9px;
}

.NS{
  flex-direction: column;
  text-align: center;
  display: contents;
}

.vertical-menu {
  width: 200px;
}

.containerMM{
  display: flex; /* to make it a flex-box */ 
flex-direction: column; /* stacks vertically instead of horizontally */ 
justify-content: space-around; /* adds equal spacing above top, below */
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  padding: 12px;
  text-decoration: none;
}

.paragraf{
  font-size: 9px;
}

.dropdown{
  background: transparent;
}

.DD{
  background: transparent;
  color: #2096cc;
  font-weight: bold;
}

.Nesto{
  margin-top: -20px;
}

.btn-primary{
  background: #2b96cc;
}

.meni{
  width: 199px;
}

/*VERTICAL MENU*/
nav.vertical{
  position:relative;
  width:200px;
}

/* ALL UL */
nav.vertical ul{
  list-style: none;
}
/* ALL LI */
nav.vertical li{
  position:relative;
}
/* ALL A */
nav.vertical a{
  display:block;
  color:#2096cc;
  padding:10px 15px;
  cursor: pointer;;
  transition:0.2s;
  width: 210px;
  text-align: left;
}
/* ALL A HOVER */
nav.vertical li:hover > a{
  background:white;
  color: #2096cc;
}



/* INNER UL HIDE */
nav.vertical ul ul{
  position:absolute;
  left:0%;
  top:0;
  visibility:hidden;
  opacity:0;
  transition: transform 0.2s;
  transform: translateX(50px);
  text-align: center;
  font-size: 10px;
}
/* INNER UL SHOW */
nav.vertical li:hover > ul{
  left:100%;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
  background: white;
}



/* Modal Content/Box */
.modal-content {
  width: 100%;
  height: 100%;
  /* spacing as needed */
  /* let it scroll */ 
   overflow: auto;
}

.modal { 
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background: none;
  border-radius: 10px;
}

#ScrollModal{
  width: 255%;
  font-size: 14px;
}

#ModalOPen{
  color: #2096cc;
  background: none;
  border: none;
}

.modal-footer{  
  flex-flow: row-reverse;
}

#CloseAndShow{
  color: #2096cc;
  background: none;
  border: none;
  font-size: 15px;
}

.modal-title{
  color: #2096cc;
  font-size: 15px;
}

/* CSS used here will be applied after bootstrap.css */

.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
height: 250px;
overflow-y: auto;
overflow-x: hidden;
padding: 0;
}



