.Pitanje{
  text-align: center;
  width: 500px;
  display: unset;
  color: #2096cc;
}

h4{
  font-size: 10px !important;
}

.NewButtons{
  text-align: right;
}

body{
  background: #2b96cc;
}

#GlavniMeni{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#GlavniMeni2{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.flex-center {
    display:flex;
    align-items:center;
}
@media ( min-width:768px ) {
    .sm-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 992px ) {
    .md-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 1200px ) {
    .lg-flex-center {
        display:flex;
        align-items:center;
    }
}

.NewColor{
  background: #f2f2f2;
}

ul :hover{
  background: #f2f2f2;
}

.btn :hover{
    background: transparent !important;
    color: #2096cc !important;
    width: auto;
}

.hideplease {
  background-image: url("./YesButton.svg");
}

.btn2 :hover{
  content: url("./HoverButton.svg");
  height: 40px;
}

.hideplease1 {
  background-image: url("./NoButton.svg");
}

.btn3 :hover{
  content: url("./NoButtonHover.svg");
  height: 40px;
}

.btn4 :hover{
  content: url("./RefreshHover.svg");
  height: 40px;
}

.btnMenu :hover{
  content: url("./MenuHover.svg");
  height: 40px;
}

.btnBack :hover {
  content: url("./BackBtnHover.svg");
  height: 40px;
}

.KrajQuiza{
  font-weight: bold;
  font-size: 15px !important;
}

.Boldirat{
  font-weight: bold;
  text-decoration: underline;
  font-size: 10px;
}

.SmallerSize{
  font-size: 10px;
}

.NewColorQUiz{
  background: #f2f2f2;
  height: 200px;
}
