.Pitanje{
  text-align: center;
  width: 500px;
  display: unset;
  color: #2096cc;
}

h4{
  font-size: 15px !important;
  font-weight: normal;
}

.NewButtons{
  text-align: right;
}

html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}



body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background: #2b96cc;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dugme{
  text-align:center;
}

.TextMnu{
  margin-top: 90px !important;
  font-weight: bold;
}

#GlavniMeni{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeniS{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: justify;
  padding: 0px;
}

#GlavniMeni2{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni3{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni4{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni5{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}


#GlavniMeni{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeniS{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: justify;
  padding: 0px;
}

#GlavniMeni2S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni3S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni4S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni5S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni6S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni7S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni8S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni9S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni10S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni11S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

#GlavniMeni12S{
  border-radius: 50px;
  border-color: #2b96cc;
  background: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px;
}

.flex-center {
    display:flex;
    align-items:center;
}

.DD{
  background: transparent;
  color: #2096cc;
  font-weight: bold;
}

.DD:hover {
  color: #2096cc;
}

/* Mobile */
@media (min-width: 0) and (max-width: 768px) { 

  .sm-flex-center {
    display:flex;
    align-items:center;
}
}
  
/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) { 

  .md-flex-center {
    display:flex;
    align-items:center;
    height: 100%;
}
}
  
/* Desktop */
@media (min-width: 1024px) { 

  .lg-flex-center {
    display:flex;
    align-items:center;
    height: 100%;
}
}

.MainMenu{
  border-radius: 10px;
  height: auto;
  text-align: center;
}

.NewColor{
  background: #f2f2f2;
}


.btn :hover{
    background: transparent !important;
    color: #2096cc !important;
    width: auto;
}

.hideplease {
  background-image: url("./YesButton.svg");
}

.btn2 :hover{
  content: url("./HoverButton.svg");
  height: 40px;
}

.hideplease1 {
  background-image: url("./NoButton.svg");
}

.btn3 :hover{
  content: url("./NoButtonHover.svg");
  height: 40px;
}

.btn4 :hover{
  content: url("./RefreshHover.svg");
  height: 40px;
}

.btnMenu :hover{
  content: url("./MenuHover.svg");
  height: 40px;
}

.btnBack :hover {
  content: url("./BackBtnHover.svg");
  height: 40px;
}

.KrajQuiza{
  font-weight: bold;
  font-size: 15px !important;
}

.Boldirat{
  font-weight: bold;
  text-decoration: underline;
  font-size: 10px;
}

.SmallerSize{
  font-size: 10px;
}

.NewColorQUiz{
  background: #f2f2f2;
  height: auto;
  border-radius: 10px;
}

.dropbtn {  
  color: #2096cc;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {display: block;}



.flex{
  display: flex;
  flex-flow: column;
}

.btnS {
  font-size: 10px;
  flex-wrap: column;  
  font-size: 9px;
}

.NS{
  flex-direction: column;
  text-align: center;
}

.paragraf{
  font-size: 9px;
}

.dropdown{
  background: transparent;
}

.btn-primary{
  background: #2b96cc;
}

.centered-wrapper:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0; height: 100%;
  vertical-align: middle;
}


